@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
*{
	margin:0;
	padding:0;
	list-style: none;
	/*outline:1px solid red; */
	font-family: 'Noto Sans TC', sans-serif;
}
.body{
	    margin: 0px;
}
.container {
	width:960px;
	margin:auto;
	/*background-color: #A67A53;*/
}

.clear {
	clear:both;
}
img {
	vertical-align: top;
}
div {
	text-shadow:2px 2px 2px #000;

}
/*.header-------*/
		.menu > li > a > p {
			letter-spacing: 3px;

		}
		.menu img {
			margin-top:-23px;
			margin-bottom:0px;
		}
		.menu{
			text-align: center;	
			background-color: #4B6C9F;
		}
		.menu > li{
			display: inline-block;
			position: relative;	
		}
		.menu > li > a{
			display: block;
			padding: 6px 20px;
			background-color: #4B6C9F;
			text-decoration: none;
			color: #fff;
			text-shadow: 1px 1px 1px #000;
			transition:color 0.5s;
		}
		.menu > li:hover > a {
			color:#666;
		}

		.menu ul{ /*第二層ul固定在第一層li*/
			position: absolute;	
			left: 0;
			top: 100%;	/*定位在第一層li下面一倍*/
			width: 150px;
			display: none; /*第二層ul消失*/
			z-index:999; /*submenu被圖片蓋住時增加*/
		}
		.menu > li:hover ul{
			display: block; /*摸到第一層li(定位的li
				)，第二層ul出現*/
		}
		.menu ul li{}
		.menu ul a{
			display: block;
			background-color: #00265A;
			padding: 6px 10px;	
			color:#fff;
			text-decoration: none;
			transition: color 0.5s;
		}
		.menu ul > li > a:hover {
			color:#666;
		}
/*banner------------------*/
.banner_box{
	position: relative;
}
.title_banner h1{
	text-align: center;
	width:500px;
	color:#fff;
	position: absolute;
	top:0;
	left:0;
	margin:40px 0 0 -60px;
	font-size:50px;
	text-shadow: 2px 2px 2px #000;
}

/*season limited--------------------*/
.title_season {
	background-color: #A77A50;
	width:960px;
	height:240px;
	/*padding-left:20px;
	padding-top:20px;*/
}
.title_season h1{
	font-size: 50px;
	color:#fff;
	/*padding:0 0 0 5px;*/
	float:left;
	margin-left:20px;
	margin-top:20px;
}
.title_season .bar:before {
	content:' ';
	display:block;
	width:8px;
	height:120px;
	background-color: #02295A;
	float:left;
	margin-left:30px;
	margin-top:30px;
	
}

img {
	width:100%;
	vertical-align: top;
/*	用img vertical-align:top把所有圖片上面空隙取消
*/}
.season_box {
	background-color: #C1A184;
}

.season_item{
	width:310px;
	margin:5px;
	float:left;
	vertical-align: top;
	position: relative;
}
.season_item:hover .item_txt{
	/*position:absolute;*/
	/*bottom:0;*/
	/*background-color: transparent;*/
	/*opacity:1;*/
	/*display:block;*/
}
.item_txt {
	width:310px;
	height:100px;
	color:#fff;
	text-align: center;
	background-color: #002D75;
	/*position:absolute;*/
	/*bottom:-100px;*/
	/*transition: opacity 1s;*/
	/*opacity:0;*/
	/*display:none;*/
}

.item_txt h3 {
	font-size: 22px;
	line-height: 50px;

}
/*special limited------------------*/
.title_special {
	background-color: #A77A50;
	width:960px;
	height:240px;
	/*padding-left:20px;
	padding-top:20px;*/
}
.title_special h1{
	font-size: 50px;
	color:#fff;
	/*padding:0 0 0 5px;*/
	float:left;
	margin-left:20px;
	margin-top:20px;
}
.title_special .bar:before {
	content:' ';
	display:block;
	width:8px;
	height:120px;
	background-color: #02295A;
	float:left;
	margin-left:30px;
	margin-top:30px;
}


.title_season {
	background-color: #A77A50;
	width:960px;
	height:240px;
	/*padding:50px; 會跑版
	/*overflow: hidden; 沒作用*/ 
}*/

/*footer---------*/

.footer {
	width:960px;
	height:600px;
	background-color: #00265A;
	padding:50px 0;
}
.blank {
	width:880px;
	height:500px;
	margin:50px 40px; /*margin上下無法，要用父層的padding壓*/
	background-color: #406093;
	text-align: center;	
	padding-top:50px;
}
.footer_logo {
	width:166px;
	margin:auto;
}
.sitemap {
	float:left;
	width:256px;
	margin-top:60px;

	text-align: left;
	/*padding-left:70px;*/
}.sitemap_center {
	float:left;
	width:256px;
	margin-top:60px;

	text-align: left;
	padding-left:70px;
}
.sitemap_right {
	float:right;
	width:160px;
	margin-top:60px;

	text-align: left;
	/*padding-left:70px;*/
}
.blank .item {
	padding:0 20px;
}
/*-----------------*/
.sitemap a {
	text-decoration: none;
	color:#333;
	font-size:20px;
	margin-top:5px;
	/*text-align: left*/
}.sitemap_center a {
	text-decoration: none;
	color:#333;
	font-size:20px;
	/*text-align: left*/
}.sitemap_right a {
	text-decoration: none;
	color:#333;
	font-size:20px;
	/*text-align: left*/
}
/*--------------------*/
.sitemap .small {
	text-decoration: none;
	color:#FFF;
	font-size:16px;
}
.blank .address {
	margin-top:120px;
	color:#fff;
	letter-spacing: 5px
}
.sitemap_center .small {
	text-decoration: none;
	color:#FFF;
	font-size:16px;
}

.sitemap_right .small {
	text-decoration: none;
	color:#FFF;
	font-size:16px;
}
/*footer---------*/

.footer {
	width:960px;
	height:600px;
	background-color: #00265A;
	padding:50px 0;
}
.blank {
	width:880px;
	height:500px;
	margin:50px 40px; /*margin上下無法，要用父層的padding壓*/
	background-color: #406093;
	text-align: center;	
	padding-top:50px;
}
.logo {
}
.sitemap {
	float:left;
	width:256px;
	margin-top:60px;

	text-align: left;
	/*padding-left:70px;*/
}.sitemap_center {
	float:left;
	width:256px;
	margin-top:60px;

	text-align: left;
	padding-left:70px;
}
.sitemap_right {
	float:right;
	width:160px;
	margin-top:60px;

	text-align: left;
	/*padding-left:70px;*/
}
.blank .item {
	padding:0 20px;
	text-shadow: 0.5px 0.5px 0.5px #000;
}
/*-----------------*/
.sitemap a {
	text-decoration: none;
	color:#888;
	font-size:20px;
	margin-top:5px;
	/*text-align: left*/
	transition:color 0.5s;
}
.sitemap_center a {
	text-decoration: none;
	color:#888;
	font-size:20px;
	/*text-align: left*/
	transition:color 0.5s;

}
.sitemap_right a {
	text-decoration: none;
	color:#888;
	font-size:20px;
	/*text-align: left*/
	transition:color 0.5s;

}
.sitemap a:hover {
	color:#666;
}
.sitemap_center a:hover {
	color:#666;
}
.sitemap_right a:hover {
	color:#666;
}
/*--------------------*/
.sitemap .small {
	text-decoration: none;
	color:#FFF;
	font-size:16px;
}
.blank .address {
	margin-top:120px;
	color:#fff;
	letter-spacing: 5px;
	text-shadow: 0.5px 0.5px 0.5px #000;
}
.sitemap_center .small {
	text-decoration: none;
	color:#FFF;
	font-size:16px;
}

.sitemap_right .small {
	text-decoration: none;
	color:#FFF;
	font-size:16px;
}

